<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="82">
  <server artifactsdir="artifacts" commandRepositoryLocation="default" serverId="297774ff-eb0f-4daa-96ae-716e4fef2d9d" />
  <pipelines group="deployment">
    <pipeline name="package-info" template="debian-base">
      <params>
        <param name="distribution">jessie</param>
        <param name="package">package-info</param>
        <param name="deploy_playbook">deploy-package-info.yml</param>
      </params>
      <materials>
        <git url="https://github.com/moritz/package-info.git" dest="package-info" materialName="package-info" />
        <git url="https://github.com/moritz/deployment-utils.git" dest="deployment-utils" materialName="deployment-utils" />
      </materials>
    </pipeline>
    <pipeline name="python-matheval" template="debian-base">
      <params>
        <param name="distribution">jessie</param>
        <param name="package">python-matheval</param>
        <param name="deploy_playbook">deploy-python-matheval.yml</param>
      </params>
      <materials>
        <git url="file:///datadisk/git/python-matheval.git" dest="python-matheval" materialName="python-matheval" />
        <git url="file:///datadisk/git/deployment-utils.git/" dest="deployment-utils" materialName="deployment-utils" />
      </materials>
    </pipeline>
  </pipelines>
  <templates>
    <pipeline name="debian-base">
      <stage name="build" cleanWorkingDir="true">
        <jobs>
          <job name="build-deb" timeout="5">
            <tasks>
              <exec command="../deployment-utils/debian-autobuild" workingdir="#{package}" />
            </tasks>
            <artifacts>
              <artifact src="version" />
              <artifact src="#{package}*_*" dest="#{package}/" />
            </artifacts>
          </job>
        </jobs>
      </stage>
      <stage name="upload-testing">
        <jobs>
          <job name="upload-testing">
            <tasks>
              <fetchartifact pipeline="" stage="build" job="build-deb" srcdir="#{package}">
                <runif status="passed" />
              </fetchartifact>
              <exec command="/bin/bash">
                <arg>-c</arg>
                <arg>deployment-utils/add-package testing #{distribution} #{package}_*.deb</arg>
              </exec>
            </tasks>
            <resources>
              <resource>aptly</resource>
            </resources>
          </job>
        </jobs>
      </stage>
      <stage name="deploy-testing">
        <jobs>
          <job name="deploy-testing">
            <tasks>
              <fetchartifact pipeline="" stage="build" job="build-deb" srcfile="version" />
              <exec command="/bin/bash" workingdir="deployment-utils/ansible/">
                <arg>-c</arg>
                <arg>ansible-playbook --inventory-file=testing --extra-vars=package_version=$(&lt; ../../version) #{deploy_playbook}</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="upload-production">
        <approval type="manual" />
        <jobs>
          <job name="upload-production">
            <tasks>
              <fetchartifact pipeline="" stage="build" job="build-deb" srcdir="#{package}">
                <runif status="passed" />
              </fetchartifact>
              <exec command="/bin/bash">
                <arg>-c</arg>
                <arg>deployment-utils/add-package production #{distribution} #{package}_*.deb</arg>
              </exec>
            </tasks>
            <resources>
              <resource>aptly</resource>
            </resources>
          </job>
        </jobs>
      </stage>
      <stage name="deploy-production">
        <jobs>
          <job name="deploy-production">
            <tasks>
              <exec command="/bin/bash" workingdir="deployment-utils/ansible/">
                <arg>-c</arg>
                <arg>ansible-playbook --inventory-file=production --extra-vars=package_version=$(&lt; ../../version) #{deploy_playbook}</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </templates>
  <agents>
    <agent hostname="pete" ipaddress="10.6.7.163" uuid="1163fc1c-45e5-433a-9fa3-fce428c403ba">
      <resources>
        <resource>aptly</resource>
      </resources>
    </agent>
    <agent hostname="agent" ipaddress="10.0.2.15" uuid="51ff989b-1a4e-4772-a6d2-b5df1df02143">
      <resources>
        <resource>aptly</resource>
      </resources>
    </agent>
  </agents>
</cruise>

